@model Langcademy.Web.ViewModels.Topics.TopicDetailsViewModel

@{
    ViewBag.Title = "Details";
}
<h2 class="text-center">Details</h2>

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="~/Content/Images/Langcademy-logo.png" alt="logo">
        </div>

        <div class="col-md-6">
            <h3>@Html.DisplayFor(model => model.Name)</h3>
            <p>Description: @Html.DisplayFor(model => model.Description)</p>
            <p>Number of words: @Html.DisplayFor(model=>model.NumberOfWordsToTranslate)</p>
            <p>Created by: @Html.DisplayFor(model =>model.Creator)</p>
            <p>Created on: @Html.DisplayFor(model =>model.CreatedOn)</p>
  
  
            <hr />
                @Html.ActionLink("Solve", "Solve","Topics", new { id = Model.Id },new { @class = "btn btn-primary" })

            
        </div>

    </div>
</div>