
@{
    ViewBag.Title = "Results";
    //var listWrongTranslations = (object[])TempData["wrong"];
}

<h2>Results</h2>

@if (TempData["result"] != null)
{


    if ((double)(TempData["percentage"]) < 50)
    {
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Oh no you got only @TempData["result"]</h3>
        </div>
        <div class="panel-body">
            <p>Time:@this.TempData["time-elapsed"] </p>
            <p>Total seconds: @this.TempData["time-elapsed-seconds"] </p>
        </div>
    </div>
    }
    else if ((double)(TempData["percentage"]) < 75)
    {
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Not bad!You got @TempData["result"]</h3>
            </div>
            <div class="panel-body">
                <p>Time:@this.TempData["time-elapsed"] </p>
                <p>Total seconds: @this.TempData["time-elapsed-seconds"] </p>
            </div>
        </div>

    }
    else
    {
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Excellent!You got @TempData["result"]</h3>
            </div>
            <div class="panel-body">
                <p>Time:@this.TempData["time-elapsed"] </p>
                <p>Total seconds: @this.TempData["time-elapsed-seconds"] </p>
            </div>
        </div>

    }
    @*<h1>
        @TempData["result"]
    </h1>
    <p>
        Time:@this.TempData["time-elapsed"]

    </p>

    <p>Total seconds: @this.TempData["time-elapsed-seconds"] </p>*@

    @*if (TempData["wrong"] != null)
        {
            //var all = TempData["wrong"] as List<object>;
            foreach (var item in listWrongTranslations)
            {
                <p>@item.Text</p>
            }

        }*@
}
else
{
    <h1>There are no results :(</h1>
}




